<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=post.id%></h1>
    <h1><%=post.author%></h1>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <textarea name="content" rows="10" cols="50"></textarea>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>