<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 align="center">Here Are The User Details:)</h1>
    <div class="parent">
        <p><%=post.id%></p>
        <h2><%=post.author%></h2>
        <p><%=post.content%></p>
    </div>
</body>
</html>